
.peopleDataContainer{
    background-color: white;
    margin: auto;
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto auto);
}

@media screen and (max-width: 1000px) {
    .peopleDataContainer {
        display: flex;
        flex-direction: column;
    }
}