.searchContainer {
    width: 20%;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}
